/* Variables */
:root {
  --color-primary: #1e1e1e;
  --color-secondary: #428fe7;
  --color-container: #2a2a2a;

  --color-tag-home: #b623f5;
  --color-tag-work: #f52358;
  --color-tag-personal: #2362f5;

  --color-border: #a0a0a0;

  --text-primary: #ffffff;
  --text-secondary: #a0a0a0;

  --radius-small: 4px;
  --radius-medium: 6px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: var(--color-primary);
  position: relative;
}

/* Input + button resets */
input,
button,
select {
  border: none;
  border-radius: var(--radius-small);
  color: var(--text-primary);
  outline: none;
}

input {
  background: var(--color-container);
  font-weight: 400;
  padding: 1rem;
  caret-color: var(--color-secondary);
  width: 100%;
}

button {
  background: none;
  cursor: pointer;
  padding: 0;
  transition: transform 0.3s ease-in;
}
button:hover {
  transform: scale(1.2);
}

select {
  padding: 0.85rem;
  appearance: none;
  background: none;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

i {
  background: none;
  color: var(--color-secondary);
  font-size: 1.25rem;
}

/* Accessible to screen reader yet visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* prevent line breaks */
  border: 0;
}
/* NAVBAR */
nav {
  align-items: center;
  background: var(--color-primary);
  border-bottom: 2px solid var(--color-container);
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1rem;
}

.logo {
  background: linear-gradient(
    90deg,
    rgba(66, 143, 231, 1) 30%,
    rgba(245, 166, 35, 1) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 1.25rem;
  font-weight: bold;
}

/* APP WRAPPER */
.app-wrapper {
  background: var(--color-primary);
  color: var(--text-primary);
  display: flex;
  height: 100vh;
  width: 100%;
}

.divider {
  background: var(--color-container);
  height: 100vh;
  width: 6px;
}

.task-list--container,
.task-create--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.task-create--container {
  max-width: 40%;
  overflow: hidden;
}

/* TASK LIST */
.task-list--container {
  overflow: auto;
}

.task-list--container::-webkit-scrollbar {
  width: 2px;
}
.task-list--container::-webkit-scrollbar-track,
.task-list--container::-webkit-scrollbar-thumb {
  border-radius: var(--radius-small);
}
.task-list--container::-webkit-scrollbar-track {
  background: var(--color-container);
  margin: 1rem 0;
}
.task-list--container::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
}

.task-list--item {
  align-items: center;
  background: var(--color-container);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  border-radius: var(--radius-small);
}

/* Completed task */
.task-list--item.completed {
  border: 2px solid green;
  opacity: 0.9;
}
.task-list--item.completed span {
  text-decoration: line-through;
  color: var(--text-secondary);
}

.item-text,
.item-buttons {
  display: flex;
}

.item-text {
  align-items: flex-start;
  flex-direction: column;
  gap: 0.45rem;
  justify-content: start;
}

.item-buttons {
  flex-direction: row;
  gap: 2rem;
}
.item-buttons i {
  font-size: 1.3rem;
}

/* TAGS */
.tag {
  border-radius: var(--radius-medium);
  font-size: 0.55rem;
  margin-top: 0.75rem;
  padding: 0.5rem 0.75rem;
}
.tag-home {
  background: var(--color-tag-home);
}
.tag-personal {
  background: var(--color-tag-personal);
}
.tag-work {
  background: var(--color-tag-work);
}

.item-text span {
  font-size: 1.25rem;
}
.item-text small {
  font-size: 0.75rem;
  color: var(--text-secondary);
}

/* Task creation */
.task-create--container form,
.input--container {
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
}

.task-create--container button {
  background: var(--color-secondary);
  font-size: 2.1rem;
  height: 100%;
  padding: 0rem 1rem;
}

.input--container {
  flex-direction: row;
}

.tag--container {
  background: var(--color-container);
  border-radius: var(--radius-small);
  position: relative;
  display: inline-block;
}

.tag--container::after {
  content: "🡻"; /* custom arrow */
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.task-create--container select {
  color: var(--text-secondary);
  width: 100%;
}

.task-create--container option {
  background: var(--color-container);
  border: none;
  border-radius: var(--radius-small);
}
